<!DOCTYPE html>
<html>
  <head>
    <title>🎮 Gamedoy | {{ title }}</title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
