<!DOCTYPE html>
<html>
  <head>
    <title>🎮 Gamedoy | {{ title }}</title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    {{ content | safe }}
    <script src="https://intelligent-chilly.r0b.io/script.js" data-site="RPMLRBBH" defer></script>
  </body>
</html>
