/* https://www.fontspace.com/pixeboy-font-f43730 */
@font-face {
  font-family: 'Pixeboy';
  src: url('./fonts/Pixeboy.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Styles */

:root {
  --gdy-theme: #3cdd59;
  /* --gdy-theme: #016fb9; */
  /* --gdy-theme: #ff6b6c; */
  /* --gdy-theme: #ffc144; */
  /* --gdy-theme: #ec0868; */
  /* --gdy-theme: #c200fb; */
  /* --gdy-theme: #fc3000; */

  --gdy-ratio: 1.5;
  --gdy-s-5: calc(var(--gdy-s-4) / var(--gdy-ratio));
  --gdy-s-4: calc(var(--gdy-s-3) / var(--gdy-ratio));
  --gdy-s-3: calc(var(--gdy-s-2) / var(--gdy-ratio));
  --gdy-s-2: calc(var(--gdy-s-1) / var(--gdy-ratio));
  --gdy-s-1: calc(var(--gdy-s) / var(--gdy-ratio));
  --gdy-s: 1rem;
  --gdy-s1: calc(var(--gdy-s) * var(--gdy-ratio));
  --gdy-s2: calc(var(--gdy-s1) * var(--gdy-ratio));
  --gdy-s3: calc(var(--gdy-s2) * var(--gdy-ratio));
  --gdy-s4: calc(var(--gdy-s3) * var(--gdy-ratio));
  --gdy-s5: calc(var(--gdy-s4) * var(--gdy-ratio));

  --frame: var(--gdy-s-1);
  --display: calc(400px + calc(2 * var(--frame)));
  --gutter: var(--gdy-s);
  --line: var(--gdy-s-5);
}

/* General buttons */
gamedoy-actions::part(button),
gamedoy-dpad::part(button) {
  margin: 0;
  border: var(--line) solid rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);

  user-select: none !important;
  font-family: 'Pixeboy', ui-monospace, monospace;
  /* TODO — parcel ignores the prefixed if this is set */
  /* user-select: none !important; */
}
gamedoy-actions::part(button):active,
gamedoy-dpad::part(button):active {
  filter: none;
  background-color: rgba(255, 255, 255, 0.2);
}

/*
  === GAMEDOY ===
*/
gamedoy-console {
  width: 100%;
  height: 100%;
  background-color: var(--gdy-theme);
  padding: var(--gutter);

  display: grid;
  grid-template: min(calc(100% - 150px - var(--frame)), var(--display)) auto / 1fr 1fr;
  grid-template-areas:
    'display display'
    'dpad    actions';
  gap: var(--gutter);
}
gamedoy-console > gamedoy-display {
  grid-area: display;
  justify-self: center;
  background: black;
}
gamedoy-console > gamedoy-dpad {
  grid-area: dpad;

  justify-self: flex-start;
  align-self: center;
}
gamedoy-console > gamedoy-actions {
  grid-area: actions;

  justify-self: flex-end;
  align-self: center;
}
/* Ngage mode */
@media (min-width: 799px) {
  gamedoy-console {
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 100%;
    grid-template-areas: 'dpad display actions';
    align-items: center;
  }
  gamedoy-display {
  }
}
/* Mini mode */
@media (max-width: 349px) {
  gamedoy-actions {
    flex-direction: column-reverse;
  }
  gamedoy-actions::part(button) {
    position: unset;
  }
}

/*
  === DISPLAY ===
*/
gamedoy-display {
  padding: var(--frame);
  background-color: #000;
  border-radius: 6px;

  aspect-ratio: 1 / 1;
  max-width: min(var(--display), 100%);
  max-height: min(var(--display), calc(100vh - calc(3 * var(--frame))));

  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
gamedoy-display::part(frame) {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #555;
  overflow: hidden;

  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

/*
  === DPAD ===
*/
gamedoy-dpad {
  display: grid;
  grid-template: repeat(3, 50px) / repeat(3, 50px);
  grid-template-areas:
    '.    up    .    '
    'left center right'
    '.    down      .';
  touch-action: none;
}
gamedoy-dpad::part(button) {
  /* padding: 0; */
}
gamedoy-dpad::part(up) {
  grid-area: up;
  border-bottom-width: 0;
  border-top-left-radius: var(--gdy-s);
  border-top-right-radius: var(--gdy-s);
}
gamedoy-dpad::part(left) {
  grid-area: left;
  border-right-width: 0;
  border-top-left-radius: var(--gdy-s);
  border-bottom-left-radius: var(--gdy-s);
}
gamedoy-dpad::part(down) {
  grid-area: down;
  border-top-width: 0;
  border-bottom-left-radius: var(--gdy-s);
  border-bottom-right-radius: var(--gdy-s);
}
gamedoy-dpad::part(right) {
  grid-area: right;
  border-left-width: 0;
  border-top-right-radius: var(--gdy-s);
  border-bottom-right-radius: var(--gdy-s);
}
gamedoy-dpad::part(center) {
  background-color: rgba(255, 255, 255, 0.4);
  grid-area: center;

  pointer-events: none;
}

/*
  === ACTIONS ===
*/
gamedoy-actions {
  display: flex;
  gap: 1em;
  justify-content: center;
  touch-action: none;
}
gamedoy-actions::part(button) {
  line-height: 1rem;
  font-size: 2rem;
  border-radius: 100%;
  width: 65px;
  height: 65px;
  filter: drop-shadow(-1px 2px 3px rgba(0, 0, 0, 0.1));
}
@media (min-width: 350px) {
  gamedoy-actions::part(a) {
    position: relative;
    top: 0.5em;
  }
  gamedoy-actions::part(b) {
    position: relative;
    top: -0.5em;
  }
}
